<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TravelGalaxy</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://unpkg.com/vue@next"></script>
  <script type="module" src="./main.js"></script>
  <script src="https://kit.fontawesome.com/c34ab90d24.js" crossorigin="anonymous"></script>
</head>

<body id="mainbg">
  <div id="app">
    <header class="page-header">
      <nav class="pt-2 pb-0 navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid m-0">
          <div class="row w-100 d-flex justify-content-between">
            <div class="col d-flex">
              <a @click="this.currentPage = 'indexPage'" class="navbar-brand" href="./index.html">{{title}}</a>
              <div class="justify-content-start" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      EXPLORATION
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a @click="this.currentPage = 'planetPage' " class="dropdown-item" href="#">Planet</a>
                      </li>
                      <li><a @click="this.currentPage = 'shipPage' " class="dropdown-item" href="#">Spaceship</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col d-flex align-items-start justify-content-end"><button class="btn btn-dark">Sign in </button></div>
          </div>
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button> -->
        </div>
      </nav>
    </header>

    <!-- Main page top -->
    <div v-show="this.currentPage === 'indexPage' " class="container-fuid">
      <div id="top-main" class="container-fluid">
        <div class="row">
          <div class="col col-sm-12 col-md-6">
            <h1 class="mt-3">START YOUR INTERSTELLAR TRAVEL HERE</h1>
          </div>
        </div>
        <div class="row mt-4 mb-4">
          <div class="col col-sm-12 col-md-3 py-4 pe-4 me-3" id="search-bar">
            <p class="d-flex justify-content-between">Search <i class="fas fa-search fa-sm" style="color:#8A8A8A"></i></p>
          </div>
        </div>
        <div class="row mt-3 mb-3">
          <div class="col col-sm-4 col-md-2">
            <a>Return<i class="fas fa-chevron-down fa-sm ps-3"></i></a>
          </div>
          <div class="col col-sm-4 col-md-2">
            <a>Adult<i class="fas fa-chevron-down fa-sm ps-3"></i></a>
          </div>
          <div class="col col-sm-4 col-md-2">
            <a>Economy<i class="fas fa-chevron-down fa-sm ps-3"></i></a>
          </div>
        </div>
        <div class="row mt-1 mb-3">
          <div class="col col-sm-6 col-md-2">
            <h5 class="pb-4" id="from-to">FROM</i></h5>
          </div>
          <div class="col col-sm-6 col-md-2">
            <h5 class="pb-4" id="from-to">TO</h5>
          </div>
        </div>
        <div class="row mt-3 mb-3">
          <div class="col-1">
            <label for="depart">Depart</label>
          </div>
        </div>
        <div class="row mt-1 mb-3">
          <div class="col col-sm-6 col-md-2">
            <input type="date" id="depart" name="depart-time"
                  value="2021-02-22"
                  min="2021-01-01" max="2023-12-31">
          </div>
          <div class="col col-sm-6 col-md-2">
            <i id="search-icon"class="fas fa-search fa-sm" style="color:#D2D2D2"></i>
          </div>
        </div>
      </div>

      <!-- Main page content -->
      <div id="mainPageGrid" class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-sm-12 col-md-10">
            <h2 class="text-white mt-5 mb-3">Popular Planet</h2>
            <div class="row gy-sm-1 gy-md-4 ">
              <div v-for="star in planets.filter(x=>x.enconomy>0.7&&x.travel>0.7)" :key="star" class="col-sm-12 col-md-4 mb-3 mb-md-1">
                <div class="inner d-flex flex-column justify-content-between" @click="clickPlanet(star)">
                  <a><h3>{{star.name}}</h3></a>
                  <span>Radius: {{star.radius.toFixed(0)}} km</span>
                  <img class="inner-bg"  :src="whatKind(star)" alt="planet-icon">
                </div>
              </div>
            </div>

            <h2 class="text-white mt-5 mb-3">Popular Spaceship</h2>
            <div class="row gy-sm-1 gy-md-4">
              <div class="col-sm-12 col-md-4 mb-3 mb-md-3">
                <div class="inner d-flex flex-column justify-content-between">
                  <a><h3>Night</h3></a>
                  <span>Wormhole</span>
                  <img class="s-inner-bg" src="/Images/spaceship-1.png" alt="Night spaceship">
                </div>
              </div>
              <div class="col-sm-12 col-md-4 mb-3 mb-md-3">
                <div class="inner d-flex flex-column justify-content-between">
                  <a><h3>Life Bringer</h3></a>
                  <span>Hyperspace</span>
                  <img class="s-inner-bg" src="/Images/spaceship-2.png" alt="Life Bringer spaceship">
                </div>
              </div>
              <div class="col-sm-12 col-md-4 mb-3 mb-md-3">
                <div class="inner d-flex flex-column justify-content-between">
                  <a><h3>Angel</h3></a>
                  <span>Hyperspace</span>
                  <img class="s-inner-bg" src="/Images/spaceship-4.png" alt="Angel spaceship">
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <!-- Spaceship page -->
    <div v-show="this.currentPage === 'shipPage' " class="container-fluid">
      <div id="spaceship-page" class="container-fluid">
        <h1 id="spaceship-title" class="text-white text-center mt-5">SPACESHIP</h1>
      </div>

      <div id="spaceship-type" class="container">
        <h3 class="text-white mt-5 mb-4">LIGHTWEIGHT SPACESHIP</h3>
        <!-- spaceship 1 -->
        <div class="row gy-sm-2 gy-md-4 mt-3 d-flex justify-content-center">
          <div class="col-12 col-md-4 mb-4 d-flex justify-content-center">
            <img src="/Images/spaceship-1.png" id="spaceship-page-img" alt="spaceship-night">
          </div>
          <div class="col-12 col-md-4 mb-4 s-inner " >
            <a><h3 style="color: #FFC977;" class="mt-2">Night</h3></a>
            <div class="row mt-4">
              <div class="col-4 text-uppercase">
                <p>100 seats</p>
              </div>
              <div class="col-4 text-uppercase">
                <p>High speed</p>
              </div>
              <div class="col-4 text-uppercase">
                <p>wormhole</p>
              </div>
            </div>
            <div class="row mt-0 p-3">
              <div class="col s-inner-fac">
                <h5 class="text-uppercase mb-3 ">cavins facilities</h5>
                <div class="d-flex">
                  <p>Spaceview cabin</p>
                  <p>Passenger cabin</p>
                  <p>Shower Cabin</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- spaceship 2 -->
        <div class="row gy-sm-2 gy-md-4 mt-3 d-flex justify-content-center flex-md-row-reverse">
          <div class="col-12 col-md-4 mb-4 mt-3 d-flex justify-content-center">
            <img src="/Images/spaceship-2.png" id="spaceship-page-img" alt="spaceship-night">
          </div>
          <div class="col-12 col-md-4 mb-4 s-inner" >
            <a><h3 style="color: #FFC977;" class="mt-2">Life Bringer</h3></a>
            <div class="row mt-4">
              <div class="col-4 text-uppercase">
                <p>150 seats</p>
              </div>
              <div class="col-4 text-uppercase">
                <p>High speed</p>
              </div>
              <div class="col-4 text-uppercase">
                <p>Hyperspace</p>
              </div>
            </div>
            <div class="row mt-0 p-3">
              <div class="col s-inner-fac">
                <h5 class="text-uppercase mb-3">cavins facilities</h5>
                <div class="d-flex">
                  <p>Standard cabin</p>
                  <p>Luxury suite cabin</p>
                  <p>Shower Cabin</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- spaceship 3 -->
        <div class="row gy-sm-2 gy-md-4 mt-3 d-flex justify-content-center">
          <div class="col-12 col-md-4 mb-4 d-flex justify-content-center">
            <img src="/Images/spaceship-3.png" id="spaceship-page-img" alt="spaceship-night">
          </div>
          <div class="col-12 col-md-4 mb-4 s-inner" >
            <a><h3 style="color: #FFC977;" class="mt-2">Discovery</h3></a>
            <div class="row mt-4">
              <div class="col text-uppercase">
                <p>200 seats</p>
              </div>
              <div class="col text-uppercase">
                <p>High speed</p>
              </div>
              <div class="col text-uppercase">
                <p>Hyperspace</p>
              </div>
            </div>
            <div class="row mt-0 p-3">
              <div class="col s-inner-fac">
                <h5 class="text-uppercase mb-3">cavins facilities</h5>
                <div class="d-flex">
                  <p>Interior cabin</p>
                  <p>Shower Cabin</p>
                  <p>Entertainment Cabin</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>

        <h3 class="text-white mt-5 mb-4">HEAVYWEIGHT SPACESHIP</h3>
        <!-- spaceship 4 -->
        <div class="row gy-sm-2 gy-md-4 mt-3 d-flex justify-content-center">
          <div class="col-12 col-md-4 mb-4 d-flex justify-content-center">
            <img src="/Images/spaceship-4.png" id="spaceship-page-img" alt="spaceship-night">
          </div>
          <div class="col-12 col-md-4 mb-4 s-inner">
            <a><h3 style="color: #FFC977;" class="mt-2">Angel</h3></a>
            <div class="row mt-4">
              <div class="col-4 text-uppercase">
                <p>200 seats</p>
              </div>
              <div class="col-4 text-uppercase">
                <p>Medium speed</p>
              </div>
              <div class="col-4 text-uppercase">
                <p>Hyperspace</p>
              </div>
            </div>
            <div class="row mt-0 p-3">
              <div class="col s-inner-fac">
                <h5 class="text-uppercase mb-3">cavins facilities</h5>
                <div class="d-flex">
                  <p>Standard cabin</p>
                  <p>Luxury suite cabin</p>
                  <p>Shower Cabin</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- spaceship 5 -->
        <div class="row gy-sm-2 gy-md-4 mt-3 d-flex justify-content-center flex-md-row-reverse">
          <div class="col-sm-12 col-md-4 mb-4 mt-3 d-flex justify-content-center">
            <img src="/Images/spaceship-5.png" id="spaceship-page-img" alt="spaceship-night">
          </div>
          <div class="col-12 col-md-4 mb-4 s-inner">
            <a><h3 style="color: #FFC977;" class="mt-2">Phobos</h3></a>
            <div class="row mt-4">
              <div class="col-4 text-uppercase">
                <p>100 seats</p>
              </div>
              <div class="col-4 text-uppercase">
                <p>Medium speed</p>
              </div>
              <div class="col-4 text-uppercase">
                <p>wormhole</p>
              </div>
            </div>
            <div class="row mt-0 p-3">
              <div class="col s-inner-fac">
                <h5 class="text-uppercase mb-3">cavins facilities</h5>
                <div class="d-flex">
                  <p>Interior cabin</p>
                  <p>Shower Cabin</p>
                  <p>Entertainment Cabin</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- spaceship detail page -->
      <div id="spaceship-detail" class="container">
        <div class="row mt-5">
          <div class="col-sm-12 col-md-5 py-5 d-flex justify-content-center">
            <img src="/Images/spaceship-1.png" id="spaceship-detail-img" alt="spaceship-night">
          </div>
          <div class="col-sm-12 col-md-7 d-flex flex-column justify-content-between">
            <div class="row mt-5 text-muted">
              <div class="col">
                <p>HIGHT</p>
                <p>70m</p>
              </div>
              <div class="col">
                <p>DIAMETER</p>
                <p>64m</p>
              </div>
              <div class="col">
                <p>CAPACITY</p>
                <p>100 seats</p>
              </div>
            </div>

            <div class="row mt-5 mb-5 text-white">
              <div class="col">
                <h1 class="planet-name">NIGHT</h1>
                <p class="text-muted">Lightweight spaceship</p>
                <p classs="text-wrap">Night is a very first version spaceship that can travel around the galaxy. The
                  main feature is its fast flight speed and flying through the wormhole in the Milky Way. During the
                  wormhole trip, you can enjoy the unique cosmic scenery during the trip. There are many different
                  cabins and services in the spacecraft, allowing travelers to enjoy the journey during the flight.</p>
              </div>
            </div>
            <div class="row mb-5 text-muted">
              <div class="col">
                <h5 class="text-white">Tralvel Path</h5>
                <p>Wormhole</p>
              </div>
              <div class="col">
                <img src="/Images/wormhole.png" class="img-fluid" alt="wormhole">
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5 text-center text-white">
          <h2>CABINS FACILITIES</h2>
          <h5 class="mt-5">Passenger cabin</h5>
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6">
              <p class="mt-4 text-start">There are 2 passenger cabins on the spaceship, each cabin contains 50 seats.
                The seats recline both for comfort – especially during launch and return. Each seat is equipped with a
                seatback screen, the displays will show live flight data including speed, g-force, and remaining boost
                time. The cabin also has windows, which allow passengers to get the best view during the trip. </p>
            </div>
          </div>
          <h5 class="mt-5">Shower Cabin</h5>
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6">
              <p class="mt-4 text-start">There are 20 shower machines in the cabin, allowing passengers to clean their
                bodies. The shower machine is developed by high-tech, which is convenient for washing the body in the
                case of weightlessness. It has different modes for passengers to choose from. Passengers only need to
                stand inside the machine and select the desired mode. For example, body cleaning, head only, drying,
                etc. </p>
            </div>
          </div>
          <h5 class="mt-5">Entertainment Cabin</h5>
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6">
              <p class="mt-4 text-start">The entertainment cabin has several areas for passengers to enjoy and spend
                time during the trip. It contains workout sections and game sections. The workout sections allow
                passengers to exercise to ensure that they maintain their best physical condition during long-term
                travel. The game sections have a VR area and a board game area, where passengers can play with their
                partners or new friends. </p>
            </div>
          </div>
          <h2 class="mt-5">DETAILS</h2>
          <div class="row mt-5 mb-5">
            <div class="col-sm-12 col-md-6">
              <p>Spacesuits</p>
              <p>In-flight meal deal</p>
              <p>Seat selection</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <p>20kg checked baggage</p>
              <p>Change flight dates</p>
            </div>
          </div>
        </div>

      </div>

    </div>


    <!-- Planet page -->
    <div v-show="this.currentPage === 'planetPage'" class="container-fuid">
      <div id="planet-page" class="container-fluid">
        <h1 id="planet-title" class="text-white text-center mt-5">PLANET</h1>
      </div>

      <div class="container">
        <div class="row align-items-start">
          <div class="col-2 col-md-1 mt-4 mb-4">
            <img src="/Images/high-tech-icon@4x.png" id="planet-icon" alt="high-tech-planet-icon">
          </div>
          <div class="col-10 col-md-11">
            <h3 class="text-white mt-5 mb-4">HIGH-TECH PLANET</h3>
          </div>
        </div>
        <div class="row gy-sm-2 gy-md-4">
          <!-- 此处用了filter方法去过滤范围 -->
          <div v-for="htPlanet in planets.filter((x,index)=>x.tech>0.5 && index < tecCount )" :key="htPlanet" class="col-sm-12 col-md-4 mb-3 mb-md-1">
            <div class="inner d-flex flex-column justify-content-between" @click="clickPlanet(htPlanet)">
              <a><h3>{{htPlanet.name}}</h3></a>
              <span>Tech: {{htPlanet.tech.toFixed(2)}}</span>
              <img src="/Images/high-tech-icon@4x.png" class="inner-bg" alt="high-tech-planet">
            </div>
            </div>
              <button @click="tecCount+=2" class="btn btn-outline-primary">MORE</button>
            <div>

            <div class="row align-items-start">
              <div class="col-2 col-md-1 mt-4 mb-4">
                <img src="/Images/business-icon@4x.png" id="planet-icon" alt="business-planet-icon">
              </div>
              <div class="col-10 col-md-11">
                <h3 class="text-white mt-5 mb-4">BUSINESS PLANET</h3>
              </div>
            </div>
            <div class="row gy-sm-2 gy-md-4">
              <!-- filter 过滤 business planet 范围 -->
              <div v-for="bizPlanet in planets.filter((x,index)=>x.biz>0.5 && index < bizCount )" :key="bizPlanet" class="col-sm-12 col-md-4 mb-3 mb-md-1">
                <div class="inner d-flex flex-column justify-content-between" @click="clickPlanet(bizPlanet)">
                  <a><h3>{{bizPlanet.name}}</h3></a>
                  <span>Business: {{bizPlanet.biz.toFixed(2)}}</span>
                  <img src="/Images/business-icon@4x.png" class="inner-bg" alt="business-planet">
                </div>
                </div>
                <button @click="bizCount+=2" class="btn btn-outline-primary">MORE</button>
                <div>
              </div>
            </div>

            <div class="row align-items-start">
              <div class="col-2 col-md-1 mt-4 mb-4">
                <img src="/Images/edu-icon@4x.png" id="planet-icon" alt="education-planet-icon">
              </div>
              <div class="col-10 col-md-11">
                <h3 class="text-white mt-5 mb-4">EDUCATION PLANET</h3>
              </div>
            </div>
            <div class="row gy-sm-2 gy-md-4">
              <!-- filter 过滤 education planet 范围 -->
              <div v-for="eduPlanet in planets.filter((x,index)=>x.enconomy>0.5 && index < eduCount)" :key="eduPlanet" class="col-sm-12 col-md-4 mb-3 mb-md-1">
                <div class="inner d-flex flex-column justify-content-between" @click="clickPlanet(eduPlanet)">
                  <a><h3>{{eduPlanet.name}}</h3></a>
                  <span>Education: {{eduPlanet.enconomy.toFixed(2)}}</span>
                  <img src="/Images/edu-icon@4x.png" class="inner-bg" alt="education-planet">
                </div>
                </div>
                <button @click="eduCount+=2" class="btn btn-outline-primary">MORE</button>
                <div>
              </div>
            </div>

            <div class="row align-items-start">
              <div class="col-2 col-md-1 mt-4 mb-4">
                <img src="/Images/travel-icon@4x.png" id="planet-icon" alt="travel-planet-icon">
              </div>
              <div class="col-10 col-md-11">
                <h3 class="text-white mt-5 mb-4">TRAVEL PLANET</h3>
              </div>
            </div>
            <div class="row gy-sm-2 gy-md-4">
              <!-- filter 过滤 travel planet 范围 -->
              <div v-for="tvPlanet in planets.filter((x,index)=>x.travel>0.5 && index < travelCount)" :key="tvPlanet" class="col-sm-12 col-md-4 mb-3 mb-md-1">
                <div class="inner d-flex flex-column justify-content-between" @click="clickPlanet(tvPlanet)">
                  <a><h3>{{tvPlanet.name}}</h3></a>
                  <span>Travel: {{tvPlanet.travel.toFixed(2)}}</span>
                  <img src="/Images/travel-icon@4x.png" class="inner-bg" alt="travel-planet">
                </div>
                </div>
                <button @click="travelCount+=2" class="btn btn-outline-primary">MORE</button>
                <div>
              </div>
              <!-- <div v-for="tvPlanet in tvPlanets" :key="tvPlanet" class="col-sm-12 col-md-4">
                <div class="inner ">
                  <h5>{{tvPlanet.tv_name}}</h5>
                  <img src="/Images/planet-Lalretove.png" class="img-fluid" alt="Lalretov">
                </div>
              </div> -->
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- planet container -->


    <!-- planet detail page -->

    <div id="planetInfo" class="container" :class="{'showInfo-show':activePlanet,'showInfo-hide':!activePlanet}">
      <div class="row d-flex justify-content-end">

        <div id="planet-detail" class="col-sm-12 col-md-8 ">
          <div @click="activePlanet = null" class="btn">X</div>
          <div class="row d-flex justify-content-center planet-detail-inner">
            <div class="col-sm-12 col-md-10">
              
              <div class="row my-2">
                
                <div class="col-sm-12 col-md-5">
                  <!-- <img :src="whatKind(star)" alt="planet-img"> -->
                  <img src="/Images/planet-Lalretove.png" class="img-fluid" alt="planet-Lalretove">
                </div>
                <div class="col-sm-12 col-md-7 d-flex flex-column justify-content-between">
                  <div class="row mt-5 text-muted">
                    <div class="col">
                      <p>RADIUS</p>
                      <p>{{planets[activePlanet]&&planets[activePlanet].radius.toFixed(0)}}km</p>
                    </div>
                    <div class="col">
                      <p>DISTANCE FROM SUN</p>
                      <p>{{planets[activePlanet]&&planets[activePlanet].distanceFromSun.toFixed(1)}} million km</p>
                    </div>
                  </div>

                  <div class="row mt-5 mb-5 text-white">
                    <div class="col">
                      <h1 class="planet-name">{{planets[activePlanet]&&planets[activePlanet].name}}</h1>
                      <p v-if="activePlanet" class="text-muted">{{whatKind(activePlanet,'kind')}}</p>
                      <p classs="text-wrap">Lalretov is the fifth-largest planet in the Solar System. It
                        vigorously
                        develop high-tech products and puts them into daily life. You will see various high-tech
                        products that might blow your mind through exploration. You will see smart cities using
                        big
                        data
                        and automation technology, ubiquitous advanced materials, and food made by new
                        technologies,
                        etc.</p>
                    </div>
                  </div>
                  <div class="row mb-5 text-muted">
                    <div class="col">
                      <p>ORBITAL PERIOD</p>
                      <p>{{planets[activePlanet]&&planets[activePlanet].orbitalPeriod}} days</p>
                    </div>
                    <div class="col">
                      <p>DAY LENGTH</p>
                      <p>{{planets[activePlanet]&&planets[activePlanet].dayLength}} hrs</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-5 text-center text-white">
                <h2>FEATURES</h2>
                <h5 class="mt-5">Surface Temperature</h5>
                <div class="row mt-4">
                  <div class="col">
                    <p>Min</p>
                    <p>-{{planets[activePlanet]&&planets[activePlanet].minTemp}} C</p>
                  </div>
                  <div class="col">
                    <p>Mean</p>
                    <p>{{planets[activePlanet]&&planets[activePlanet].meanTemp}} C</p>
                  </div>
                  <div class="col">
                    <p>Max</p>
                    <p>{{planets[activePlanet]&&planets[activePlanet].maxTemp}} C</p>
                  </div>
                </div>

                <div class="row mt-5">
                  <div class="col">
                    <p>Surface Pressure</p>
                    <p>{{planets[activePlanet]&&planets[activePlanet].surfacePs.toFixed(3)}} kPa</p>
                  </div>
                  <div class="col">
                    <p>Surface Gravity</p>
                    <p>{{planets[activePlanet]&&planets[activePlanet].surfaceGv.toFixed(3)}} m/s2</p>
                  </div>
                  <div class="col">
                    <p>Satellites</p>
                    <p>{{planets[activePlanet]&&planets[activePlanet].satellites}}</p>
                  </div>
                </div>

                <h2 class="mt-5">EQUIPMENT</h2>
                <h5 class="mt-5">Weight Gain Boots</h5>
                <div class="row justify-content-center p-0">
                  <div class="col-sm-12 col-md-5 ms-3">
                    <p class="my-4 text-start">Due to the planet's gravity factor, travelers may need a pair of
                      weight
                      gain boots. It can automatically adjust the weight of the boots according to each person's
                      weight
                      to ensure that they can walk on the planet normally.</p>
                    <div style="height: 100px;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- showInfo -->

    </div>
    <!-- app -->
 

    <!-- Optional JavaScript; Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"></script>
</body>



</html>