<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spaceship</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./main.js"></script>
</head>
<body id="secbg">
    <div id="app">
        <header class="page-header" >
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="./index.html">{{title}}</a>
                  <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button> -->
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          EXPLORATION
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="./planet.html">Planet</a></li>
                          <li><a class="dropdown-item" href="./spaceship.html">Spaceship</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="d-flex justify-content-end">
                    <div class="container">
                        <ul class="nav">
                          <li class="nav-item active"><a href="#" class="nav-lik">sign in</a></li>
                          <li class="nav-item"><a href="#" class="nav-lik">$</a></li>
                        </ul>
                    </div>
                  </div>
                </div>
              </nav>
          </header>
    
        <div id="spaceship-page" class="container-fluid">
            <h1 id="spaceship-title" class="text-white text-center mt-5">SPACESHIP</h1>
        </div>

    
        <div id="spaceship-type" class="container">
            <h3 class="text-white mt-5 mb-4">LIGHTWEIGHT SPACESHIP</h3>
            <div class="row gy-sm-2 gy-md-4">
                <div v-for="lwSpaceship in lwSpaceships" :key="lwSpaceship">
                    <div class="row gy-sm-2 gy-md-4">
                        <div class="col-sm-12 col-md-6 mb-4">
                            <img src="/Images/spaceship-night.png" class="img-fluid" alt="night">
                        </div>
                        <div class="col-sm-12 col-md-6 mb-4">
                            <h5 class="text-white">{{lwSpaceship.lwship_name}}</h5>
                            <p class="text-white">{{lwSpaceship.des}}</p>
                        </div>
                    </div>        
                </div>
            </div>
            
            
    
            <h3 class="text-white mt-5 mb-4">HEAVYWEIGHT SPACESHIP</h3>
            <div class="row gy-sm-2 gy-md-4">
                <div v-for="hwSpaceship in hwSpaceships" :key="hwSpaceship">
                    <div class="row gy-sm-2 gy-md-4">
                        <div class="col-sm-12 col-md-6 mb-4">
                            <img src="/Images/spaceship-night.png" class="img-fluid" alt="night">
                        </div>
                        <div class="col-sm-12 col-md-6 mb-4">
                            <h5 class="text-white">{{hwSpaceship.hwship_name}}</h5>
                            <p class="text-white">{{hwSpaceship.des}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- spaceship detail page -->
        <div id="spaceship-detail" class="container">
            <div class="row mt-5">
              <div class="col-sm-12 col-md-5">
                  <img src="/Images/spaceship-night.png" class="img-fluid" alt="spaceship-night">
              </div>
              <div class="col-sm-12 col-md-7 d-flex flex-column justify-content-between">
                  <div class="row mt-5 text-muted">
                      <div class="col">
                          <p>HIGHT</p>
                          <p>70m</p>
                      </div>
                      <div class="col">
                          <p>DIAMETER</p>
                          <p>64m</p>
                      </div>
                      <div class="col">
                        <p>CAPACITY</p>
                        <p>100 seats</p>
                    </div>
                  </div>
      
                  <div class="row mt-5 mb-5 text-white">
                      <div class="col">
                          <h1 class="planet-name">NIGHT</h1>
                          <p class="text-muted">Lightweight spaceship</p>
                          <p classs="text-wrap">Night is a very first version spaceship that can travel around the galaxy. The main feature is its fast flight speed and flying through the wormhole in the Milky Way. During the wormhole trip, you can enjoy the unique cosmic scenery during the trip. There are many different cabins and services in the spacecraft, allowing travelers to enjoy the journey during the flight.</p>
                      </div>
                  </div>
                  <div class="row mb-5 text-muted">
                      <div class="col">
                          <h5 class="text-white">Tralvel Path</h5>
                          <p>Wormhole</p>
                      </div>
                      <div class="col">
                          <img src="/Images/wormhole.png" class="img-fluid" alt="wormhole">
                      </div>
                  </div>
              </div>
            </div>
      
            <div class="row mt-5 text-center text-white">
              <h2>CABINS FACILITIES</h2>
              <h5 class="mt-5">Weight Gain Boots</h5>
              <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <p class="mt-4 text-start">There are 2 passenger cabins on the spaceship, each cabin contains 50 seats. The seats recline both for comfort – especially during launch and return. Each seat is equipped with a seatback screen, the displays will show live flight data including speed, g-force, and remaining boost time. The cabin also has windows, which allow passengers to get the best view during the trip. </p>
                </div>
              </div>
              <h5 class="mt-5">Shower Cabin</h5>
              <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <p class="mt-4 text-start">There are 20 shower machines in the cabin, allowing passengers to clean their bodies. The shower machine is developed by high-tech, which is convenient for washing the body in the case of weightlessness. It has different modes for passengers to choose from. Passengers only need to stand inside the machine and select the desired mode. For example, body cleaning, head only, drying, etc. </p>
                </div>
              </div>
              <h5 class="mt-5">Entertainment Cabin</h5>
              <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <p class="mt-4 text-start">The entertainment cabin has several areas for passengers to enjoy and spend time during the trip.  It contains workout sections and game sections.  The workout sections allow passengers to exercise to ensure that they maintain their best physical condition during long-term travel. The game sections have a VR area and a board game area, where passengers can play with their partners or new friends. </p>
                </div>
              </div>
              <h2 class="mt-5">DETAILS</h2>
              <div class="row mt-5 mb-5">
                  <div class="col-sm-12 col-md-6">
                      <p>Spacesuits</p>
                      <p>In-flight meal deal</p>
                      <p>Seat selection</p>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <p>20kg checked baggage</p>
                    <p>Change flight dates</p>
                </div>
              </div>
            </div>
            
            <div id="planet-type" class="container">
                <h3 class="text-white mt-5 mb-4">Other Spaceships </h3>
                <div class="row gy-sm-0 gy-md-4">
                  <div v-for="otherSpaceship in otherSpaceships" :key="otherSpaceship" class="col-sm-12 col-md-4">
                      <div class="inner ">
                          <h5>{{otherSpaceship.others_name}}</h5>
                          <!-- <img src="/Images/planet-Lalretove.png" class="img-fluid" alt="Lalretov"> -->
                      </div>
                  </div>
                  
                <div>
              </div>
        </div>
    </div>
</body>
</html>